* {
    margin: 0;
    padding: 0;
}

/* Mobile */
header, footer{
    text-align: center;
    /* background-color: #979de2; */
    background-color: #6fc86f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header img {
    width: 100%;
    height: auto;
    margin: 0;
}

ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    font-size: 20px;
}

main {
    background-color: #b6dcb2;
    display: grid;
    grid-gap: 10px;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

main h2, h3 {
    text-align: center;
}

main p, form {
    font-size: 20px;
}

form {
    border: solid 2px #6fc86f;
    border-radius: 5px;
    padding: 5px;
}

button {
    border: solid 2px #6fc86f;
    border-radius: 5px;
    background-color: #b6dcb2;
    font-size: 20px;
    margin: 5px;
}

.why-interested {
    width: 75%;
}

footer {
    padding: 10px;
}

footer a, div {
    font-size: 20px;
}