body {
    margin: 0;
    background-color: #D6AEDD;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 25px;
}