* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #555;
}

header {
    color: white;
    text-align: center;
    margin-top: 50px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

main h1 {
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

h3 {
    display: inline-block;
}

#to-do-container {
    display: inline-block;
    /* border-right: solid 5px black; */
    background-color: white;
    padding: 15px;
    border: 5px solid white;
    border-radius: 10px;
}

#completed-container {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border: 5px solid white;
    border-radius: 10px;
}